@page "/Dash/{Id}/{ProType}"
@using Coursework.Data
@inject Coursework.Data.Ticket.TicketService ticketService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JS
@using  System.IO;



<button type="button" @onclick="ButtonClick">Add new ticket</button>
<div style="padding-bottom:10px"></div>


@if (TicketObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{

    <table class="table table-borderless table-striped table-fixed">
        <thead class="thead-dark">
            <tr>
                <th style="width:550px">Description</th>
                @{
                    if (ProType == "Workplace")
                    {
                        <th style="width:250px">Assignee</th>
                    }
                }
                <th style="width:150px">Status</th>
                <th style="width:200px">Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in TicketObj)
            {
                if (emp.Status == "New")
                {
            <tr>

                <td>@emp.Description</td>
                @{
                    if (ProType == "Workplace")
                    {
                        <td>@emp.Assignee</td>
                    }
                }
                <td>@emp.Status</td>
                <td>@emp.DueDate</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="EditTicket/@emp.Id" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="DeleteProject/@emp.Id" role="button">Delete</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

    <table class="table table-borderless table-striped table-fixed">
        <thead class="thead-dark">
            <tr>
                <th style="width:550px">Description</th>
                @{
                    if (ProType == "Workplace")
                    {
                        <th style="width:250px">Assignee</th>
                    }
                }
                <th style="width:150px">Status</th>
                <th style="width:200px">Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in TicketObj)
            {
                if (emp.Status == "In-progress")
                {
            <tr>

                <td>@emp.Description</td>
                @{
                    if (ProType == "Workplace")
                    {
                                <td style="width:250px">@emp.Assignee</td>
                    }
                }
                <td>@emp.Status</td>
                <td>@emp.DueDate</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="EditTicket/@emp.Id" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="DeleteProject/@emp.Id" role="button">Delete</a>

                </td>
            </tr>
                }
            }
        </tbody>
    </table>

    <table class="table table-borderless table-striped table-fixed">
        <thead class="thead-dark">
            <tr>
                <th style="width:550px">Description</th>
                @{
                    if (ProType == "Workplace") { 
                                <th style="width:250px">Assignee</th>
                    }
                }
                <th style="width:150px">Status</th>
                <th style="width:200px">Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in TicketObj)
            {
                if (emp.Status == "Closed")
                {
            <tr>

                <td>@emp.Description</td>
                @{
                    if (ProType == "Workplace")
                    {
                        <td>@emp.Assignee</td>
                    }
                }
                <td>@emp.Status</td>
                <td>@emp.DueDate</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="EditTicket/@emp.Id" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="DeleteProject/@emp.Id" role="button">Delete</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
}



@code {
    [Parameter]
    public String Id { get; set; }
    [Parameter]
    public String ProType { get; set; }

    List<Coursework.Data.Ticket.Ticket> TicketObj;



    Coursework.Data.Ticket.Ticket obj = new Coursework.Data.Ticket.Ticket();
    List<Coursework.Data.Ticket.Ticket> EmpObj;

    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => ticketService.GetAllTicketAsync());
        //get ticket by id
        TicketObj = EmpObj.Where(x => x.ProjectId.Contains(Id)).ToList();
       
    }

    protected async void ButtonClick()
    {
        NavigationManager.NavigateTo($"/AddTicket/{Id}/{ProType}");
    }
}