@page "/EditProject/{Id}"
@using Coursework.Data
@inject Coursework.Data.Project.ProjectService projectService
@inject NavigationManager NavigationManager

<h2>Edit Project</h2>
<hr />

<EditForm Model="@obj">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-8">
            @*To display the project title*@
            <div class="form-group">
                <label for="CompanyName" class="control-label">Title</label>
                <input form="CompanyName" class="form-control" @bind="@obj.Title" />
                <ValidationMessage For="@(() => obj.Title)" />
            </div>
            @*To display the company name*@
            <div class="form-group">
                <label for="Title" class="control-label">Company Name</label>
                <input form="Title" class="form-control" @bind="@obj.CompanyName" />
                <ValidationMessage For="@(() => obj.CompanyName)" />
            </div>
            @*To display the project description*@
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input form="CompanyName" class="form-control" @bind="@obj.Description" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" @onclick="@UpdateProject">Submit</button>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public String Id { get; set; }
    Coursework.Data.Project.Project obj = new Coursework.Data.Project.Project();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => projectService.GetProjectByIdAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateProject()
    {
        //validation
        if (obj.Title == "")
        {
            Console.WriteLine("Error");
        }
        else if (obj.CompanyName == "") {
            Console.WriteLine("Error");
        }
        else
        {
            await projectService.UpdateProjectAsync(obj);
            NavigationManager.NavigateTo("ViewPorject");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("ViewPorject");
    }
}
