@page "/ViewPorject"
@using Coursework.Data
@inject Coursework.Data.Project.ProjectService projectService
@inject Coursework.Data.Ticket.TicketService ticketService
@inject NavigationManager NavigationManager
@inject IJSRuntime js

@inject Microsoft.JSInterop.IJSRuntime JS
@using  System.IO;

@*To display the project types*@
@if (EmpObj is null)
{
    <p><em>Fetching data... Please wait !</em></p>
}
else
{

    <div class="row">
        <div class="col-lg-9">
            <h1>WorkSpace</h1>
        </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-success btn-sm" href="AddProject" role="button">Create New</a>
        </div>
    </div>

    <table class="table table-borderless table-striped table-sm col px-md-2">
        <thead class="thead-dark">
            <tr>

                <th style="width:100px">Title</th>
                <th style="width:200px">Comapany Name</th>
                <th style="width:800px">Description</th>
                <th style="width:200px">Project Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                if (emp.ProjectType == "Workplace") { 
            <tr>
                <td>@emp.Title</td>
                <td>@emp.CompanyName</td>
                <td>@emp.Description</td>
                <td>@emp.ProjectType</td>
                <td class="text-right">
                    <a class="btn btn-info btn-sm" href="Dash/@emp.Id/@emp.ProjectType" role="button">View</a>
                    <a class="btn btn-primary btn-sm" href="EditProject/@emp.Id" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="DeleteProject/@emp.Id" role="button">Delete</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

    <table class="table table-borderless table-striped table-sm col px-md-2">
        <thead class="thead-dark">
            <tr>
                <th style="width:100px">Title</th>
                <th style="width:200px">Comapany Name</th>
                <th style="width:800px">Description</th>
                <th style="width:200px">Project Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                if (emp.ProjectType == "Individual")
                {
            <tr>
                <td>@emp.Title</td>
                <td>@emp.CompanyName</td>
                <td>@emp.Description</td>
                <td>@emp.ProjectType</td>
                <td class="text-right">
                    <a class="btn btn-info btn-sm" href="Dash/@emp.Id/@emp.ProjectType" role="button">View</a>
                    <a class="btn btn-primary btn-sm" href="EditProject/@emp.Id" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm" href="DeleteProject/@emp.Id" role="button">Delete</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>

}

@code {
    List<Coursework.Data.Project.Project> EmpObj;
    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => projectService.GetAllProjectAsync());

    }
}

